
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tips</title>
    @Styles.Render("~/bundles/style")
    @Styles.RenderFormat("<link href='{0}' rel='stylsheet' type='text/css' media='print' />", "~/bundles/style/print")
    <style>
        .addparent:before {
            content: url("/RSI/Content/Images/add_parent.png");
        }

        .addchild:before {
            content: url("/RSI/Content/Images/add_child.png");
        }

        .specialimg:before {
            content: url("/RSI/Content/Images/specialicon.png");
        }
    </style>
</head>
<body>
    @{
        var pagenote = RSI.Models.Manager.Part_InfoManager.GetPageNote(Request.QueryString["phase_id"]);
    }
    @Html.Raw(pagenote.Rows[0]["Note"])
    @Scripts.Render("~/bundles/script")
</body>
</html>
